<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Voucherify\Integration\Api\VoucherManagementInterface" type="Voucherify\Integration\Model\VoucherManagement" />
    <preference for="Voucherify\Integration\Api\VoucherDataRepositoryInterface" type="Voucherify\Integration\Model\VoucherDataRepository" />
    <type name="Magento\Quote\Model\QuoteRepository\SaveHandler">
        <plugin name="save_voucher_attributes" type="Voucherify\Integration\Plugin\QuoteSave"/>
    </type>
    <type name="Magento\Quote\Model\QuoteRepository\LoadHandler">
        <plugin name="load_voucher_attributes" type="Voucherify\Integration\Plugin\QuoteLoad"/>
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="voucherify_integration_order_place_before" type="Voucherify\Integration\Plugin\OrderPlace"/>
    </type>
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="voucherify_integration_guest_order_place_before" type="Voucherify\Integration\Plugin\GuestOrderPlace"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="voucherify_integration_order_get" type="Voucherify\Integration\Plugin\OrderGet"/>
    </type>
</config>