<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="voucherify_integration_save_order_after_submit" instance="Voucherify\Integration\Observer\SaveOrderAfterSubmitObserver"/>
    </event>
</config>
